.circular-button {
    background-color: hsl(180, 66%, 49%);
    border: 2px solid #ccc;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    
}

.square-button {
    background-color: hsl(180, 66%, 49%);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}
  
.circular-button:hover,.square-button:hover{
    background-color: hsl(180, 68%, 70%);
    transition: all 1s ease;
}